<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Fornecedores</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Listagem de Fornecedores</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Código</th>
                                <th>Nome fantasia</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                            </tr>
                        </thead>
                        <tbody class='table-striped'>
                            {% for fornecedor in fornecedores %}
                            <tr>
                                <td>{{ fornecedor.id }} <a href="{% url 'fornecedores_confirma_delete' fornecedor.id %}" class="btn btn-warning">Excluir</a></td>
                                <td><a href="{% url 'fornecedores_fornecedor_update' fornecedor.id %}">{{ fornecedor.nome_fantasia }}</a></td>
                                <td>{{ fornecedor.email }}</td>
                                <td>{{ fornecedor.telefone }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-sm-12 text-center">
                <a href="{% url 'fornecedores_fornecedor_create' %}" class="btn btn-primary" title="Abrir">Novo Fornecedor</a><br>
                <br>
                <a href="{% url 'infostore_home' %}" class="btn btn-primary" title="Home">Home</a>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    </body>
</html>